
        <footer class="row">
            <div class="footer">
                <div class="col-footer col-f-1 col-md-12 col-lg-7">
                    <div class="item-footer">
                        <strong class="col-1"><a href="javascript: void(0);">Акции</a></strong>
                        <ul class="hidden-sm-down">
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                        </ul>
                    </div>
                    <div class="item-footer mar-right">
                        <strong class="col-2"><a href="javascript: void(0);">Новости</a></strong>
                        <ul class="hidden-sm-down">
                            <li>
                                <a href="javascript: void(0);">Обновленный дизайн</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Помощь в эксплуатации</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Новинки товара</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Ввод кофе в ассортимент</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Новый сайт в разрабоке</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Обновленный дизайн</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Помощь в эксплуатации</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Новинки товара</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Ввод кофе в ассортимент</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Новый сайт в разрабоке</a>
                            </li>
                        </ul>
                    </div>
                    <div class="item-footer right">
                        <strong class="col-3"><a href="javascript: void(0);">Журнал о чае</a></strong>
                        <ul class="hidden-sm-down">
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-footer col-f-2 col-md-12 col-lg-5">
                    <div class="item-footer">
                        <strong class="col-4"><a href="javascript: void(0);">Журнал о кофе</a></strong>
                        <ul class="hidden-sm-down">
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                        </ul>
                    </div>
                    <div class="item-footer">
                        <strong class="col-5"><a href="javascript: void(0);">Покупателям о нас</a></strong>
                        <ul class="hidden-sm-down">
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                            <li>
                                <a href="javascript: void(0);">Скидка на пуэры</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-12 copir-wr">
                    <div class="container">
                        <p class="copirait">
                            Полная карта сайта | Все права защищены | Копирование допускается при использовании ссылки на источник |
                            <br>
                            Copyright © ChaLine.Ru 2011-2014 | Дизайн Титов Тимофей | Powered by Umi.Cms Юмисофт
                        </p>
                    </div>
                </div>
            </div>
        </footer>
        <a class="up-button" href="#header">
            <span class="left">Наверх</span><i class="button-up"></i>
        </a>

        </div>
        <script src="js/script.js"></script>
    </body>
</html>