/********************************
*      ДОПОЛНИТЕЛЬНЫЕ СТИЛИ
*********************************/

@import "../../bower_components/normalize.css/normalize.css";

@import "partials/sprite";

@include sprites($spritesheet-sprites);
//hover спрайта


.icon {
  @include sprite($icon);
  &:hover {
    @include sprite($icon-hover);
  }
}

i{
  display: inline-block;
}
body{
  background-color: #000;
  text-align: center;
}
h1{
  color:green;
  text-transform: uppercase;
  font-size: 60px;
}
.img{
  width:400px;
  height: 400px;
  margin:0 auto;

}



/********************************
*       ОСНОВНЫЕ СТИЛИ
********************************/









/*************************
*     КАСТОМНЫЕ СТИЛИ
**************************/

@import "partials/media";
