/********************************
*      ДОПОЛНИТЕЛЬНЫЕ СТИЛИ
*********************************/

@import "../../bower_components/bootstrap/scss/bootstrap";

@import "partials/sprite";
@import "partials/fonts";

@include sprites($spritesheet-sprites);
//hover спрайта
.icon {
  @include sprite($icon);
  &:hover {
    @include sprite($icon-hover);
  }
}

i{
  display: inline-block;
}
body{
  font-family: $font-family-serif;
}
h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $font-family-sans-serif;
  font-family: 'etelka-text-pro';
  color: #201300;
}




/********************************
*       ОСНОВНЫЕ СТИЛИ
********************************/









/*************************
*     КАСТОМНЫЕ СТИЛИ
**************************/

@import "partials/media";
