@media screen and(max-width: 1299px){
  #slid-1,
  #slid-2,
  #slid-3{
    img{
      width:100%;
    }
  }
  .china-sinvol{
    p{
      br{
        display: none;
      }
    }
  }
  .list-cast {
    margin: 12px 0 0;
  }
  .arrow-1,.arrow-2{
    &:before{
      display: none;
    }

  }
  .col-f-1,.col-f-2{
    text-align: center;
  }
  //.footer {
  //  height: 580px;
  //}
  //footer {
  //  &:before {
  //    content: '';
  //    width: 100%;
  //    height: 616px;
  //  }
  //}
  .brand{
    img{
      width:100%;
    }
  }
  .filter-form{
    span{
      margin-top:20px;
    }
  }
  .product-content{
    &.active {
      .row {
        width: 50%;
      }
    }

  }
  .bg-buttones .buy-b b {
    padding: 5px 100px 0 0;
  }
  .item-footer {
    min-width: 170px;
    margin: 0 0 0 13px;
  }
  .my-soc {
    li {
      width: 40px;
    }
    span{
      padding: 5px;
      width: 38px;
      min-width: 38px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

  }

  .filter-form {
    .hit-form {
      top: -68px;
    }
  }

  .report{
    margin: 5px -4px 0 0;
  }
  .cont-sear-one{
    .buy-b{
      padding:10px 5px;
      b{
        font-size: 1.3rem;
      }
    }
    .butt-buy{
      margin:0;
      width: 115px;
      padding: 0 3px 0 5px;
    }
  }
  .cont-sear-two{
    .tape{
      a,span{
        font-size: 0.8rem;
      }
    }
  }

  .list-cabinet {

    a {
      width: 140px;
    }
  }

  .cabinet-big-nav{
    li{
      p {
        font-size: 0.5rem;
      }
    }
  }
  .prices{
    margin:0;
  }


  .wish-content-2 {
    .butt-buy {
      padding: 3px 1px 2px 4px;
      margin: 17px 0 0 3px;
    }
    .report {
      margin: 17px 0 0 2px;
    }
  }
.pages-two{
  .list-pages-two{
    li{
      font-size:0.6rem;
    }

  }
  .pages{
    .row{
      >div{
        padding:0;
        .pages-list{
          a{
            font-size: 0.9rem;
          }
        }

      }
    }
  }
}

  .settings-item {
    p {
      font-size: 0.6rem;
    }
  }
  .wr-mini-but{
    span{
      font-size:0.6rem;
    }
  }
  .set-lin {
    font-size: 0.7rem;
  }


  .h6-bord {
    font-size: 1rem;
  }
  .p-big {
    font-size: 1.1rem;
    b{
      margin: 0 0 0 70px;
    }
  }

  .delivery-footer{
    h5 {
      font-size: 1.1rem;
      padding: 5px 10px 9px 20px;
      margin: 0;
    }
  }


  .cabinet-big-nav{
    li{
      strong {
        font-size: 0.8rem;
      }
    }
  }


  .select-cast-but{
    .spin-up{
      left:-99px;
    }
  }






}

@media screen and(max-width: 1029px) {
  .sort-filter {
    margin: 0 8px 0 9px;
  }
  .bootom-nav {
    &.shadow-bottom {
      box-shadow: none;
    }
  }
  .map-russia-ico {
    top: -73px;
    left: 280px;
  }
  .china-1, .china-2, .china-3 {
    position: static;
  }
  .brand {
    .brend-text {
      margin: 111px 0 0 0;
    }
  }
  .product, .history {
    img {
      width: 100%;
    }
  }
  .footer {
    .right {
      float: none;
    }
  }
  .item-footer ul {
    margin: 5px 36px 26px 0;
  }

  .bg-buttones {
    .buy-b {
      padding: 10px 0 0;

      b {
        padding: 5px 0 0;
        font-size:1rem;
      }
    }
    .butt-buy {
      width:100px;
      span{
        font-size:0.7rem;
        padding:5px 0;
      }
    }
  }
  .butt-buy {
    margin: 5px 0 0;
  }
  .info-list {
    li {
      width: 48%;
      float: left;
    }
  }

  .b-asid {
    display: block;
  }
  .top-nav {
    ul {
      li {
        padding: 0 10px 0 0;
      }
    }
  }
  .form-search {
    width: 100%;
    margin: 20px 0 0;
  }
  .logo {
    img {
      width: 100%;
    }
  }
  .nav-product {
    margin: 18px 0 13px;
    ul {
      li {
        padding: 5px;
      }
    }
  }

  .we {
    .container {
      //overflow: hidden;
    }
    i {
      transform: scale(0.8, 0.8);
      margin: 17px 0 0 -30px;
    }
    a {
      font-size: 1rem;
    }
  }
  .russ-1 {
    top: 193px;
    left: 0;
  }
  .russ-2 {
    top: 20px;
  }
  .russ-3 {
    top: 466px;
    left: 0;
    width: 243px;
  }
  .russ-4 {
    top: 521px;
  }
  .china-sinvol {
    p {
      font-size: 0.9rem;
    }
  }
  .jars {
    font-size: 7rem;
    span {
      font-size: 3rem;
    }
  }

  .experience .row:nth-child(2) {
    margin-bottom: 40px;
  }
  .history {
    .b-text {
      margin-left: 0;
    }

  }

  .img-cast-2 {
    transform: scale(0.8, 0.8);
    bottom: -46px;
    left: -67px;
  }
  .russ-2 {
    right: 0;
  }
  .item-footer {
    min-width: 170px;
  }
  .copirait {
    font-size: .7rem;
    padding: 0;
    br {
      display: none;
    }
  }

  .up-button {
    display: none !important;
  }
  .top-nav,
  .bootom-nav {
    position: relative !important;
  }
  header {
    padding: 0;
  }

  .contents,
  .aside {
    width: auto;
  }
  .images {
    img {
      width: 100%;
    }

  }

  .bootom-nav {
    &.shadow-bottom {
      &:before {
        display: none;
      }
    }
  }
  .fixed {
    top: 0;
  }
  .fixeds{
    position: relative!important;
    top: 0!important;
  }
  .mar-label {
    padding-left: 7rem;
  }
  .item {
    max-width: 335px;
    margin: 0 10px 20px;
    h6 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.9rem;
    }
  }

  .list-product-two {
    li {
      width: 47%;
      float: left;
    }
  }
  .window {
    display: none;
  }

  .mag-big {
    .content-mag {
      h3 {
        font-size: 1.4rem;
        line-height: 25px;
      }
    }
  }
  .tape {
    a {
      font-size: 0.9rem;
    }
    span {
      font-size: 0.9rem;
    }

  }

  .feed-content {
    .sort-visible {
      float: none;
      text-align: center;
    }
    .visible-tov {
      a {
        font-size: 0.8rem;
      }
      span {
        font-size: 0.8rem;
      }

    }
    .magazi-table {
      .row {
        div {
          padding-left: .9375rem;
          padding-right: .9375rem;
          padding-bottom: 20px;
          img {
            width: 100%;
          }
          .deites {
            padding: 0;
          }
        }

        p {
          font-size: 0.8rem;
          margin: 0;
        }
      }
    }
  }


  .search-content{
    &:before{
      display: none;
    }
  }

  .cont-sear-one .items-b:nth-child(even),
  .cont-sear-two .items-b:nth-child(even){
    border-left: none;
  }

  .cont-sear-one{
    .items-b{
      min-height: 420px;
    }
    .buy-b {
      b {
        font-size: 1.1rem;
      }

    }
  }

  .big-search {
    width: 500px;
    input[type=search]{
      width:85%;
    }
  }

  .list-cabinet {
    li {
      margin: 5px 0;
      width: 49%;
      text-align: center;
    }
    a{
      width: 180px;
    }
  }

  .wr-timezone{
    height:100px;
  }

  .cabinet-big-nav{
    li {
      width: 32.8%;
      margin:0 0 5px;
      p{
        font-size: 0.6rem;
      }
    }
  }

  .wish-content-2 {
    .row{
      >div{
        &:last-child {
          width: 16.66667%!important;
        }
      }
    }
    .stlect-cast {
      //-webkit-transform: scale(0.9, 0.9);
      //-moz-transform: scale(0.9, 0.9);
      //-ms-transform: scale(0.9, 0.9);
      //-o-transform: scale(0.9, 0.9);
      //transform: scale(0.9, 0.9);
    }
    .report,
    .butt-buy{
      -webkit-transform: scale(0.9, 0.9);
      -moz-transform: scale(0.9, 0.9);
      -ms-transform: scale(0.9, 0.9);
      -o-transform: scale(0.9, 0.9);
      transform: scale(0.9, 0.9);
      margin: 17px 0 0 1px;
    }
  }

  .table-castum{
    tr{

    }
    th{
      font-size:0.9rem;
      padding: 5px 20px;
    }
    td{

    }

  }

  .orders-info{
    padding: 20px 0 14px;
    li{
      span{
        width: 120px;
      }
    }
  }


  .wr-comments{
    img{
      width:100%;
    }
  }
.list-pages-two{
  margin-bottom:20px;
}



  .pages-two{
    .list-pages-two{
      text-align: center;
      li{
        font-size:0.9rem;
      }

    }

  }


  .table-castum-2{
    border-right: 2px solid #fff;
  }

  .settings-item p,
  .wr-mini-but span {
    font-size: 0.9rem;
  }


  .basket-ones{
    .row{
      >div{
        &:first-child {
          width: 16%!important;
        }
        img{
          width:100%;
        }
      }
    }

  }

  .but-a{
    width:43%;
    display: inline-block;
    margin:0 20px;
  }

.cont-basket{
  .stlect-cast{
    width:130px;
    margin:0 0 0 -5.6px;
  }
}

  .delivery {
    .items{
      strong {
        margin: 15px 0;
      }
    }

  }
  .delivery-footer {
    p {
      padding: 5px 10px 20px;
    }
  }

  .but-zakaz{
    margin:10px 0 0;
  }

  .wr-but-two{
    width:100%;
    text-align: center;
    .butts-two{
      display: inline-block;
      padding:15px 10px;
    }
  }



  .authorization{
    max-width:500px;
    width:auto;
  }




.fixed-nav-big{
  position: relative;
}


  .china-sinvol{
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }



  .fixed-nav-big{
    position: relative;
  }
  .shadow-bottom{
    box-shadow: none;
  }

  .bg-buttones {
    .stlect-cast {
      .spin-up {
        left: -99px;
      }
    }

  }





}


@media screen and(max-width: 767px) {
  .cont-sear-two {
    .items-b {
      min-height: 295px;
    }

  }

  .filter-select {
    margin: 3px;
    padding: 0;
    .jq-selectbox__select-text {
      font-size: 0.8rem;
    }
    .jq-selectbox__select {
      height: 21px;
      min-width: 130px;

    }
  }
  .hit-ico {
    left: 0;
  }
  .product-content {
    &.active {
      .row {
        min-width: 500px;
        margin: 0 auto;
        float: none;
        border-right: none;
        padding: 0;
      }
    }

  }

  .top-nav {
    ul {
      margin: 0;
    }
    .entrance {
      margin: 0;
    }
  }
  .logo {
    img {
      width: auto;
    }
  }
  .form-search {
    margin: 10px 0;
    input {
      border: none;
      width: 71%;
      padding: 0;
      height: 39px;
      float: left;
    }
  }
  .basdet-nav {
    a {
      padding: 7px 0 0 30%;
      display: inline-block;
      float: left;
    }
    span {
      font-size: 1.2rem;
      margin: 11px 0 0 7px;
    }
  }
  .nav-bootom-header {
    li {
      background-image: none;
      width: 50%;
      float: left;
      padding: 5px 0 5px 10px;
      text-align: left;
      background-color: #e0dddd;
      border-bottom: 1px solid #b5b4b4;
      &:nth-child(odd) {
        background-color: #f0f0f0;
      }
    }
    a {

    }
    .active a {
      background-color: transparent;
    }
  }
  .nav-product {
    ul {
      li {
        display: block;
      }
    }
  }
  .we {
    i {
      transform: scale(1, 1);
      margin: 17px 0 0 0;
    }
  }

  .russ-1,
  .russ-2,
  .russ-3,
  .russ-4 {
    position: static;
  }
  .russia {
    background: url('../images/russia-bg-img-mobail.png') 50% 50% no-repeat;
    div {
      margin-bottom: 60px;
    }
  }
  .russ-3 {
    width: 100%;
  }
  .map-russia-ico {
    top: 517px;
    left: 367px;
  }
  .china {
    background: url('../images/china-bg-img-mobail.png') 50% 20% no-repeat;
  }
  .china-2 {
    margin-top: 300px;
  }
  .china-sinvol {
    margin-top: 0;
    div {
      margin-bottom: 12px;
      margin-left: 15px;
      &:nth-child(even) {
        &:before {
          display: none;
        }
      }
    }
    &:before,
    &:after {
      display: none;
    }

  }
  .china-sinvol div:nth-child(4), .china-sinvol div:nth-child(5) {
    margin-top: 0;
    margin-bottom: 12px;
  }
  .history {
    img {
      width: auto;
      float: right;
    }
  }

  .tradition {
    .b-text {
      padding: 50px 0 0;
    }
  }
  .modernity {
    img {
      transform: scale(0.7, 0.7);
    }
  }

  .brand-h5 {
    margin: 60px 0 30px 0;
  }

  .brand {
    .mar-list {
      float: none;
    }
    .list-cast {
      margin: 28px 0 30px 0;
    }
  }

  h2 {
    font-size: 2.5rem;
  }
  .sociality {
    h2 {
      margin: 0 0 50px;
    }
  }
  .item-footer {
    min-width: 100px;
  }

  .img-cast-2 {
    transform: scale(.7, .7);
    bottom: -72px;
    left: -105px;
  }

  .product-content {
    .row {
      margin-bottom: 20px;
      &:nth-child(even) {
        .title, .buttones {
          background-color: transparent;
        }
      }
    }
    .buttones,
    .images {
      border: none;
      margin: 0;
    }
    .title {
      border: none;
      p {
        font-size: 1rem;
      }
    }
  }

  .visible-tov {
    text-align: center;
  }
  .pages-list {
    float: none;
    text-align: center;
    margin: 10px 0;
    li {
      float: none;
    }
  }

  .what-coffee {
    font-size: 0.8rem;
    margin: 3px 0 0;
  }

  .sort-filter {
    margin: 0;
    a {
      font-size: 0.8rem;
      min-width: 130px;
    }
  }

  .filter-form .leftLabel,
  .filter-form .rightLabel {
    margin: 0 0 30px;
  }

  .min-col {
    padding: 0 10px;
    .row {
      .mar-label {
        padding: 0 10px;
      }
    }
  }
  .filter-form label span {
    font-size: 0.7rem;
    padding: 0;
  }
  .filter-form span {
    padding: 0 0 0 25px;
  }
  .h-form {
    &:before {
      left: 0;
    }
  }

  .filter-form .leftLabel, .filter-form .rightLabel {
    margin: 0;
  }
  .col-footer {
    background-color: #292d2d !important;
    &:before {
      display: none;
    }
  }

  .nav-tea {
    text-align: left;
    li {
      display: block;
      width: 50%;
      float: left;
      margin: 0;
      border-bottom: 2px solid #d7d7d7;
      &.active {
        border-bottom: 2px solid #9dcd4c;
      }
    }
    a {
      font-size: 0.8rem;
      margin-left: 10px;
    }

  }
  .mag-big {
    .content-mag {
      h3 {
        font-size: 1.1rem;
        margin: 9px 12px 5px;
      }
    }
  }
  .tape {
    h4 {
      font-size: 1.4rem;
      margin-left: 11px;
    }

  }

  .feed-content {
    h4 {
      font-size: 1.2rem;
    }

    .visible-tov {
      span {
        font-size: .6rem;
      }
      a {
        font-size: .6rem;
      }
    }
    .visible-tov {
      a {
        padding: 1px 3px;
        border-radius: 5px;
      }
      .magazi-table {

      }

    }
  }

  .tabs__caption{
    .active {
      width: auto;
    }
    li{
      margin:0 5px;
    }
  }

  ul.timezone {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .wr-timezone {
    height: 100%;
  }

  .cabinet-big-nav{
    ul{
      margin-left: -.9375rem;
      margin-right: -.9375rem;
    }
    li{
      width: 49%;
      strong{
        font-size: 0.7rem;
      }
      p{
        overflow: hidden;
        br{
          display: none;
        }
      }
    }
  }


  .wish-content-2{
    .fancy-spinbox {
      padding:0 17px;
       .crop {
        background:#fff url(../images/select-but.png) 90% -2px no-repeat;
      }
    }


    .select-cast-but{
      .spin-up {
        left: -83px;
        width:20px;
      }
      .spin-down{
        width:20px;
        right:-5px;
      }
    }
    .report,
    .butt-buy {
      -webkit-transform: scale(0.8, 0.8);
      -moz-transform: scale(0.8, 0.8);
      -ms-transform: scale(0.8, 0.8);
      -o-transform: scale(0.8, 0.8);
      transform: scale(0.8, 0.8);

      margin: 17px 0 0 0px;
    }
    .row{
      >div{
        border-bottom: 1px solid #e1e2e3;
        &:last-child{
          width: 33.33333%!important;
        }
      }

    }

  }

  .in-stock,
  .notes{
    padding:5px;
  }


  .list-orders-one{
    li{
      width:50%;
      float: left;
      margin:0;
      a{
        font-size:0.7rem;
      }
    }
  }

.orders-info{
  li{
    display: block;
    margin:0 10px 10px!important;
    position: relative;
   .poa-list{
     position: absolute;
     top:-32px;
     right:0;
   }
  }
}


  .table-castum-two {
    th {
      font-size: .7rem;
      text-align: center;
      padding: 0;
    }
    td{
      font-size: .7rem;
    }

  }

.orders-3{
  span{
    display: block;
  }
  .amount{
    display: inline-block!important;
  }
}



  .pages-two {
    text-align: left;
  }

.wr-comments{
  .row{
    >div{
      padding:0;
      p{
        padding:0;
      }
      a{
        font-size: 0.7rem;
      }
    }
  }
}
  .pages-two{
    .list-pages-two {
      text-align: left;
    }
  }

  .butt-two {
    a {
      padding: 2px 6px;
    }
  }


  .item-one-desconts {
    h4 {
      line-height: 26px;
      padding-top:20px;
    }

  }
  .items-two-discon {
    margin-bottom: 90px;

  }


.b-poz-ab{
  position: absolute;
  bottom:-80px;
  right:0;
}

.settings-bootom,
  .settings-item{
    width:100%;
    margin:10px 0;
  }


  .cont-basket {
    .stlect-cast {
      margin: 0 0 0 -13px;
    }

  }

  .basket-ones{
    .row{
      >div {
        padding-top: 20px;
        min-height: 80px;
        height: 80px;
      }
    }

  }

.footer-basket{
  .both{
    padding:0;
    margin-bottom:10px;
  }
  p{
    font-size:0.8rem;
  }
}

  .p-big,
  .h6-bord{
    margin:10px 0;
    br{
      display: inline-block;
    }
  }
  .but-a {
    width: 100%;
    display: block;
    margin: 5px 0;
  }


  .delivery-footer{
    br{
      display: inline-block;
    }
  }
  .butts,
  .but-zakaz{
    width:85%;
    margin:10px auto;
  }


  .wr-but-two{
    width:55%;
    text-align: left;
    .butts-two{
      display: block;
      padding:5px 0;
      font-size:1.1rem;
    }
  }

  .basdet-nav{
    padding:5px 0;
  }

  .sum-basket {
    font-size: 1.18rem;
  }






  .big-search {
    width: 100%;
    padding:0 10px;
     input[type=search] {
      width: 76%;
    }
  }

  .expectation{
    .stlect-cast{
      display: inline-block;
    }
    .buy-b {

      b {
        font-size: 0.7rem;
        float: left;
        margin: 6px 5px 0 0;
      }

    }
  }

.heit-mini{
  min-height:60px!important;
}

  .list-desires {
    padding: 4px;
    span{
      display: inline-block;
      margin:0;
      font-size:0.6rem;
    }
    .desires{
      float: right;
    }
  }

  .item-popap {
    input {
      padding: 10px;
      margin: 5px 0;
    }
    span{
      padding: 10px 0;
    }


  }


}

@media screen and(max-width: 543px){

  .list-product-two{
    li{
      width:100%;
      float: none;
    }
  }

  .product-content.active .report {
    margin-right: 0;
    padding: 0 3px;
    width: auto;
    span{
      font-size: 0.6rem;
    }
  }


  .comments-user{
    ul {
      margin: 0 0 0 20px;
    }
  }
  .info-list{

    li{
      width:100%;
      float: none;
    }
  }
  .bg-buttones{
    .buy-b{
      padding:10px 0;
      b {
        padding: 5px 18px 0 0;
      }
    }
  }
  .product-content{
    &.active {
      .row {
        min-width: 100%;
      }
    }

  }
  .my-soc{
    li {
      width: 31px;
    }
    span{
      padding: 5px 3px;
      white-space: nowrap;
      text-overflow: ellipsis;
      min-width: auto;
      width: 34px;
      overflow: hidden;
    }
  }

  .h-cast{
    h5 {
      padding: 0 0 10px 0;
    }
  }

  .lot-text {
    p {
      padding-left: 0;
    }

  }

  .top-nav{
    ul{
      a {
        font-size: .7rem;
      }
    }
    .entrance {
      li {
         padding: 0;
       }
    }
  }

  .img-cast-2 {
    transform: scale(.6,.6);
    bottom: -96px;
    left: -124px;
  }
  .back-call{
    p{
      margin: 0;
    }
  }
  .item-footer {
    min-width: 90px;
  }

  .russ-1{
    width:100%;
  }
  .russ-2{
    width:100%;
  }
  .russ-3{
    width:100%;
  }
  .russ-4{
    width:100%;
  }

  .china-1{
    width:100%;
  }
  .china-2{
    width:100%;
  }
  .china-3{
    width:100%;
  }
.logo{
  margin: 25px 0 23px;
  img{
    width:100%;
  }
}
  .back-call{
    p{
      font-size: 0.7rem;
      margin: 12px 0 0;
    }
    strong {
       display: block;
       font-size: 0.8rem;
    }
  }

  .top-nav ul a {
    font-size: .6rem;
  }

  .basdet-nav a {
    padding: 7px 0 0 0;
  }
  .castum-h3 {
    font-size: 2.7rem;
  }
  .geog-typography h4 {
    font-size: 1.7rem;
  }
  .experience{
    img{
      width:100%;
    }
  }
  .jars {
    font-size: 6rem;
    line-height: 74px;
  }
  .history{
    padding:0;
    img {
      width: 100%;
      float: none;
    }
  }

  .img-cast-2 {
    transform: scale(1,1);
    bottom: 0;
    left: auto;
    width:100%;
  }
  .tradition {
    min-height: 450px;
  }
  .item {
    max-width: 300px;
    h6 {
      font-size: 1.2rem;
    }
  }
  .item-footer {
    min-width: auto;
    text-align: center;
    margin: 0 14px;
  }

  h4 {
    font-size: 2rem;
  }
  //.footer {
  //  height: 350px;
  //}
  //footer:before {
  //  height: 450px;
  //}
  .mar-right{
    margin:0;
  }
  .container-fluid{
    overflow: hidden;
  }
    .what-coffee{
      display: none;
    }
  .filter{
    text-align: center;
    .container{
      padding:0;
    }
  }
  .sort-visible,
  .sort-filter{
    float: none;
    display: inline-block;
    //height: 60px;
    vertical-align: middle;
  }

  .feed-content{
    .sort-filter{
      float: left;
    }
  }



  .sort-visible{
    li{
      transform: scale(0.8,0.8);
    }
  }
  .sort-filter{
    margin: 0;
  }
  .quantity {
    padding: 7px 0 10px;
  }

  .pages{
    margin-left: -.9375rem;
    margin-right: -.9375rem;
    .row{
      div{
        padding:0;
      }
    }
  }

  .list-cabinet{
    margin:0 0 10px;
    a {
      width: 132px;
      font-size:0.9rem;
    }
  }
  .tabs__caption{
    margin:0 -30px;
    .active{
      padding: 4px;
      font-size: 0.9rem;
    }
    li{
      padding: 1px 4px;
      margin:0;
      font-size: 0.9rem;
    }
  }

  ul.timezone {
    text-align: left;
  }
.form-castom{
  margin:0 -15px;
}

  .table-castum-2{
    width:100%;
    margin:0 -15px;
    th{
      font-size:0.3rem;
    }
    td{
      font-size:0.7rem;
    }
  }

  .filter-form {
    .hit-form {
      width: 160px;
      left: -9px;
      font-size:0.59rem;
      padding:5px 2px;
    }


  }




}

@media screen and(max-width: 440px) {
  .serch-buttom {
    margin: 0 0 0 -7px;
  }
  .basdet-nav {
    span {
      font-size: 1.1rem;
      margin: 11px 0 0 5px;
    }
  }

  .butt-buy {
    width: 100px;
    height: 32px;
    background-color: #ed3a23;
    border-radius: 5px;
    display: inline-block;
    padding: 0 4px 0 2px;
    margin: -5px -8px 0 0;
    span {
      font-size: 1rem;
    }
  }
  .buy-b {
    b {
      font-size: 1rem;
    }
  }

  .report {
    background-color: #939598;
    padding: 0 6px;
    margin: 5px 0 0;
    width: auto;
    height: 32px;
    span {
      display: none;
    }
  }

  .product-content {
    .title {
      padding: 0 0 20px;
      min-height: auto;
      p {
        padding: 0;
        margin: 0;
        br {
          display: none;
        }
      }
    }
  }

  .bg-buttones {
    margin-left: -.9375rem;
    margin-right: -.9375rem;
  }

  .stlect-cast {
    //transform: scale(0.9, 0.9);
    //margin: 0 -5px 0 -10px;
  }
  .bg-buttones {

    .buy-b {

      b {
        padding: 5px 0 0 0;
      }
    }
    .butt-buy {
      margin: 3px -8px 0 0;
    }

  }
  .h4 {
    font-size: 1.2rem;
  }
  .cont-sear-one{
    .buy-b{
      padding:10px;
    }
    .butt-buy {
      padding: 0 10px 0 5px;
    }
  }

  .bg-buttones{
    .butt-buy {
      width: 83px;
    }
  }

  .footer div {
    width: 100%;
    margin: 0 auto;
  }
}
