/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$akc-leb-name: 'akc-leb';
$akc-leb-x: 369px;
$akc-leb-y: 246px;
$akc-leb-offset-x: -369px;
$akc-leb-offset-y: -246px;
$akc-leb-width: 53px;
$akc-leb-height: 23px;
$akc-leb-total-width: 503px;
$akc-leb-total-height: 378px;
$akc-leb-image: '../images/sprite.png';
$akc-leb: (369px, 246px, -369px, -246px, 53px, 23px, 503px, 378px, '../images/sprite.png', 'akc-leb', );
$basket-ico-mobile-name: 'basket-ico-mobile';
$basket-ico-mobile-x: 306px;
$basket-ico-mobile-y: 196px;
$basket-ico-mobile-offset-x: -306px;
$basket-ico-mobile-offset-y: -196px;
$basket-ico-mobile-width: 43px;
$basket-ico-mobile-height: 42px;
$basket-ico-mobile-total-width: 503px;
$basket-ico-mobile-total-height: 378px;
$basket-ico-mobile-image: '../images/sprite.png';
$basket-ico-mobile: (306px, 196px, -306px, -196px, 43px, 42px, 503px, 378px, '../images/sprite.png', 'basket-ico-mobile', );
$basket-ico-name: 'basket-ico';
$basket-ico-x: 126px;
$basket-ico-y: 316px;
$basket-ico-offset-x: -126px;
$basket-ico-offset-y: -316px;
$basket-ico-width: 28px;
$basket-ico-height: 29px;
$basket-ico-total-width: 503px;
$basket-ico-total-height: 378px;
$basket-ico-image: '../images/sprite.png';
$basket-ico: (126px, 316px, -126px, -316px, 28px, 29px, 503px, 378px, '../images/sprite.png', 'basket-ico', );
$button-up-name: 'button-up';
$button-up-x: 349px;
$button-up-y: 196px;
$button-up-offset-x: -349px;
$button-up-offset-y: -196px;
$button-up-width: 43px;
$button-up-height: 42px;
$button-up-total-width: 503px;
$button-up-total-height: 378px;
$button-up-image: '../images/sprite.png';
$button-up: (349px, 196px, -349px, -196px, 43px, 42px, 503px, 378px, '../images/sprite.png', 'button-up', );
$buy-name: 'buy';
$buy-x: 154px;
$buy-y: 316px;
$buy-offset-x: -154px;
$buy-offset-y: -316px;
$buy-width: 26px;
$buy-height: 27px;
$buy-total-width: 503px;
$buy-total-height: 378px;
$buy-image: '../images/sprite.png';
$buy: (154px, 316px, -154px, -316px, 26px, 27px, 503px, 378px, '../images/sprite.png', 'buy', );
$desires-name: 'desires';
$desires-x: 483px;
$desires-y: 196px;
$desires-offset-x: -483px;
$desires-offset-y: -196px;
$desires-width: 20px;
$desires-height: 22px;
$desires-total-width: 503px;
$desires-total-height: 378px;
$desires-image: '../images/sprite.png';
$desires: (483px, 196px, -483px, -196px, 20px, 22px, 503px, 378px, '../images/sprite.png', 'desires', );
$info-ico-1-name: 'info-ico-1';
$info-ico-1-x: 490px;
$info-ico-1-y: 123px;
$info-ico-1-offset-x: -490px;
$info-ico-1-offset-y: -123px;
$info-ico-1-width: 11px;
$info-ico-1-height: 14px;
$info-ico-1-total-width: 503px;
$info-ico-1-total-height: 378px;
$info-ico-1-image: '../images/sprite.png';
$info-ico-1: (490px, 123px, -490px, -123px, 11px, 14px, 503px, 378px, '../images/sprite.png', 'info-ico-1', );
$info-ico-2-name: 'info-ico-2';
$info-ico-2-x: 490px;
$info-ico-2-y: 137px;
$info-ico-2-offset-x: -490px;
$info-ico-2-offset-y: -137px;
$info-ico-2-width: 12px;
$info-ico-2-height: 12px;
$info-ico-2-total-width: 503px;
$info-ico-2-total-height: 378px;
$info-ico-2-image: '../images/sprite.png';
$info-ico-2: (490px, 137px, -490px, -137px, 12px, 12px, 503px, 378px, '../images/sprite.png', 'info-ico-2', );
$info-ico-3-name: 'info-ico-3';
$info-ico-3-x: 177px;
$info-ico-3-y: 279px;
$info-ico-3-offset-x: -177px;
$info-ico-3-offset-y: -279px;
$info-ico-3-width: 15px;
$info-ico-3-height: 13px;
$info-ico-3-total-width: 503px;
$info-ico-3-total-height: 378px;
$info-ico-3-image: '../images/sprite.png';
$info-ico-3: (177px, 279px, -177px, -279px, 15px, 13px, 503px, 378px, '../images/sprite.png', 'info-ico-3', );
$info-ico-4-name: 'info-ico-4';
$info-ico-4-x: 441px;
$info-ico-4-y: 246px;
$info-ico-4-offset-x: -441px;
$info-ico-4-offset-y: -246px;
$info-ico-4-width: 19px;
$info-ico-4-height: 19px;
$info-ico-4-total-width: 503px;
$info-ico-4-total-height: 378px;
$info-ico-4-image: '../images/sprite.png';
$info-ico-4: (441px, 246px, -441px, -246px, 19px, 19px, 503px, 378px, '../images/sprite.png', 'info-ico-4', );
$map-russia-ico-name: 'map-russia-ico';
$map-russia-ico-x: 0px;
$map-russia-ico-y: 246px;
$map-russia-ico-offset-x: 0px;
$map-russia-ico-offset-y: -246px;
$map-russia-ico-width: 80px;
$map-russia-ico-height: 70px;
$map-russia-ico-total-width: 503px;
$map-russia-ico-total-height: 378px;
$map-russia-ico-image: '../images/sprite.png';
$map-russia-ico: (0px, 246px, 0px, -246px, 80px, 70px, 503px, 378px, '../images/sprite.png', 'map-russia-ico', );
$mes-name: 'mes';
$mes-x: 392px;
$mes-y: 219px;
$mes-offset-x: -392px;
$mes-offset-y: -219px;
$mes-width: 23px;
$mes-height: 18px;
$mes-total-width: 503px;
$mes-total-height: 378px;
$mes-image: '../images/sprite.png';
$mes: (392px, 219px, -392px, -219px, 23px, 18px, 503px, 378px, '../images/sprite.png', 'mes', );
$nav-ico-1-name: 'nav-ico-1';
$nav-ico-1-x: 80px;
$nav-ico-1-y: 246px;
$nav-ico-1-offset-x: -80px;
$nav-ico-1-offset-y: -246px;
$nav-ico-1-width: 79px;
$nav-ico-1-height: 55px;
$nav-ico-1-total-width: 503px;
$nav-ico-1-total-height: 378px;
$nav-ico-1-image: '../images/sprite.png';
$nav-ico-1: (80px, 246px, -80px, -246px, 79px, 55px, 503px, 378px, '../images/sprite.png', 'nav-ico-1', );
$nav-ico-2-name: 'nav-ico-2';
$nav-ico-2-x: 0px;
$nav-ico-2-y: 316px;
$nav-ico-2-offset-x: 0px;
$nav-ico-2-offset-y: -316px;
$nav-ico-2-width: 65px;
$nav-ico-2-height: 62px;
$nav-ico-2-total-width: 503px;
$nav-ico-2-total-height: 378px;
$nav-ico-2-image: '../images/sprite.png';
$nav-ico-2: (0px, 316px, 0px, -316px, 65px, 62px, 503px, 378px, '../images/sprite.png', 'nav-ico-2', );
$nav-ico-3-name: 'nav-ico-3';
$nav-ico-3-x: 383px;
$nav-ico-3-y: 123px;
$nav-ico-3-offset-x: -383px;
$nav-ico-3-offset-y: -123px;
$nav-ico-3-width: 107px;
$nav-ico-3-height: 62px;
$nav-ico-3-total-width: 503px;
$nav-ico-3-total-height: 378px;
$nav-ico-3-image: '../images/sprite.png';
$nav-ico-3: (383px, 123px, -383px, -123px, 107px, 62px, 503px, 378px, '../images/sprite.png', 'nav-ico-3', );
$nav-ico-4-name: 'nav-ico-4';
$nav-ico-4-x: 65px;
$nav-ico-4-y: 316px;
$nav-ico-4-offset-x: -65px;
$nav-ico-4-offset-y: -316px;
$nav-ico-4-width: 61px;
$nav-ico-4-height: 58px;
$nav-ico-4-total-width: 503px;
$nav-ico-4-total-height: 378px;
$nav-ico-4-image: '../images/sprite.png';
$nav-ico-4: (65px, 316px, -65px, -316px, 61px, 58px, 503px, 378px, '../images/sprite.png', 'nav-ico-4', );
$nav-ico-5-name: 'nav-ico-5';
$nav-ico-5-x: 252px;
$nav-ico-5-y: 196px;
$nav-ico-5-offset-x: -252px;
$nav-ico-5-offset-y: -196px;
$nav-ico-5-width: 54px;
$nav-ico-5-height: 47px;
$nav-ico-5-total-width: 503px;
$nav-ico-5-total-height: 378px;
$nav-ico-5-image: '../images/sprite.png';
$nav-ico-5: (252px, 196px, -252px, -196px, 54px, 47px, 503px, 378px, '../images/sprite.png', 'nav-ico-5', );
$nav-ico-6-name: 'nav-ico-6';
$nav-ico-6-x: 252px;
$nav-ico-6-y: 123px;
$nav-ico-6-offset-x: -252px;
$nav-ico-6-offset-y: -123px;
$nav-ico-6-width: 131px;
$nav-ico-6-height: 73px;
$nav-ico-6-total-width: 503px;
$nav-ico-6-total-height: 378px;
$nav-ico-6-image: '../images/sprite.png';
$nav-ico-6: (252px, 123px, -252px, -123px, 131px, 73px, 503px, 378px, '../images/sprite.png', 'nav-ico-6', );
$new-leb-name: 'new-leb';
$new-leb-x: 392px;
$new-leb-y: 196px;
$new-leb-offset-x: -392px;
$new-leb-offset-y: -196px;
$new-leb-width: 68px;
$new-leb-height: 23px;
$new-leb-total-width: 503px;
$new-leb-total-height: 378px;
$new-leb-image: '../images/sprite.png';
$new-leb: (392px, 196px, -392px, -196px, 68px, 23px, 503px, 378px, '../images/sprite.png', 'new-leb', );
$optic-name: 'optic';
$optic-x: 415px;
$optic-y: 219px;
$optic-offset-x: -415px;
$optic-offset-y: -219px;
$optic-width: 31px;
$optic-height: 12px;
$optic-total-width: 503px;
$optic-total-height: 378px;
$optic-image: '../images/sprite.png';
$optic: (415px, 219px, -415px, -219px, 31px, 12px, 503px, 378px, '../images/sprite.png', 'optic', );
$pages-ico-1-name: 'pages-ico-1';
$pages-ico-1-x: 479px;
$pages-ico-1-y: 246px;
$pages-ico-1-offset-x: -479px;
$pages-ico-1-offset-y: -246px;
$pages-ico-1-width: 17px;
$pages-ico-1-height: 18px;
$pages-ico-1-total-width: 503px;
$pages-ico-1-total-height: 378px;
$pages-ico-1-image: '../images/sprite.png';
$pages-ico-1: (479px, 246px, -479px, -246px, 17px, 18px, 503px, 378px, '../images/sprite.png', 'pages-ico-1', );
$pages-ico-2-name: 'pages-ico-2';
$pages-ico-2-x: 460px;
$pages-ico-2-y: 246px;
$pages-ico-2-offset-x: -460px;
$pages-ico-2-offset-y: -246px;
$pages-ico-2-width: 19px;
$pages-ico-2-height: 18px;
$pages-ico-2-total-width: 503px;
$pages-ico-2-total-height: 378px;
$pages-ico-2-image: '../images/sprite.png';
$pages-ico-2: (460px, 246px, -460px, -246px, 19px, 18px, 503px, 378px, '../images/sprite.png', 'pages-ico-2', );
$ras-leb-name: 'ras-leb';
$ras-leb-x: 312px;
$ras-leb-y: 246px;
$ras-leb-offset-x: -312px;
$ras-leb-offset-y: -246px;
$ras-leb-width: 57px;
$ras-leb-height: 23px;
$ras-leb-total-width: 503px;
$ras-leb-total-height: 378px;
$ras-leb-image: '../images/sprite.png';
$ras-leb: (312px, 246px, -312px, -246px, 57px, 23px, 503px, 378px, '../images/sprite.png', 'ras-leb', );
$report-ico-name: 'report-ico';
$report-ico-x: 180px;
$report-ico-y: 316px;
$report-ico-offset-x: -180px;
$report-ico-offset-y: -316px;
$report-ico-width: 26px;
$report-ico-height: 26px;
$report-ico-total-width: 503px;
$report-ico-total-height: 378px;
$report-ico-image: '../images/sprite.png';
$report-ico: (180px, 316px, -180px, -316px, 26px, 26px, 503px, 378px, '../images/sprite.png', 'report-ico', );
$section-ico-name: 'section-ico';
$section-ico-x: 159px;
$section-ico-y: 279px;
$section-ico-offset-x: -159px;
$section-ico-offset-y: -279px;
$section-ico-width: 18px;
$section-ico-height: 19px;
$section-ico-total-width: 503px;
$section-ico-total-height: 378px;
$section-ico-image: '../images/sprite.png';
$section-ico: (159px, 279px, -159px, -279px, 18px, 19px, 503px, 378px, '../images/sprite.png', 'section-ico', );
$serch-buttom-name: 'serch-buttom';
$serch-buttom-x: 159px;
$serch-buttom-y: 246px;
$serch-buttom-offset-x: -159px;
$serch-buttom-offset-y: -246px;
$serch-buttom-width: 44px;
$serch-buttom-height: 33px;
$serch-buttom-total-width: 503px;
$serch-buttom-total-height: 378px;
$serch-buttom-image: '../images/sprite.png';
$serch-buttom: (159px, 246px, -159px, -246px, 44px, 33px, 503px, 378px, '../images/sprite.png', 'serch-buttom', );
$settings-ico-name: 'settings-ico';
$settings-ico-x: 460px;
$settings-ico-y: 196px;
$settings-ico-offset-x: -460px;
$settings-ico-offset-y: -196px;
$settings-ico-width: 23px;
$settings-ico-height: 23px;
$settings-ico-total-width: 503px;
$settings-ico-total-height: 378px;
$settings-ico-image: '../images/sprite.png';
$settings-ico: (460px, 196px, -460px, -196px, 23px, 23px, 503px, 378px, '../images/sprite.png', 'settings-ico', );
$tape-ico-name: 'tape-ico';
$tape-ico-x: 203px;
$tape-ico-y: 246px;
$tape-ico-offset-x: -203px;
$tape-ico-offset-y: -246px;
$tape-ico-width: 50px;
$tape-ico-height: 28px;
$tape-ico-total-width: 503px;
$tape-ico-total-height: 378px;
$tape-ico-image: '../images/sprite.png';
$tape-ico: (203px, 246px, -203px, -246px, 50px, 28px, 503px, 378px, '../images/sprite.png', 'tape-ico', );
$tiles-ico-name: 'tiles-ico';
$tiles-ico-x: 422px;
$tiles-ico-y: 246px;
$tiles-ico-offset-x: -422px;
$tiles-ico-offset-y: -246px;
$tiles-ico-width: 19px;
$tiles-ico-height: 20px;
$tiles-ico-total-width: 503px;
$tiles-ico-total-height: 378px;
$tiles-ico-image: '../images/sprite.png';
$tiles-ico: (422px, 246px, -422px, -246px, 19px, 20px, 503px, 378px, '../images/sprite.png', 'tiles-ico', );
$we-ico-1-name: 'we-ico-1';
$we-ico-1-x: 0px;
$we-ico-1-y: 0px;
$we-ico-1-offset-x: 0px;
$we-ico-1-offset-y: 0px;
$we-ico-1-width: 252px;
$we-ico-1-height: 123px;
$we-ico-1-total-width: 503px;
$we-ico-1-total-height: 378px;
$we-ico-1-image: '../images/sprite.png';
$we-ico-1: (0px, 0px, 0px, 0px, 252px, 123px, 503px, 378px, '../images/sprite.png', 'we-ico-1', );
$we-ico-2-name: 'we-ico-2';
$we-ico-2-x: 0px;
$we-ico-2-y: 123px;
$we-ico-2-offset-x: 0px;
$we-ico-2-offset-y: -123px;
$we-ico-2-width: 251px;
$we-ico-2-height: 123px;
$we-ico-2-total-width: 503px;
$we-ico-2-total-height: 378px;
$we-ico-2-image: '../images/sprite.png';
$we-ico-2: (0px, 123px, 0px, -123px, 251px, 123px, 503px, 378px, '../images/sprite.png', 'we-ico-2', );
$we-ico-3-name: 'we-ico-3';
$we-ico-3-x: 252px;
$we-ico-3-y: 0px;
$we-ico-3-offset-x: -252px;
$we-ico-3-offset-y: 0px;
$we-ico-3-width: 251px;
$we-ico-3-height: 123px;
$we-ico-3-total-width: 503px;
$we-ico-3-total-height: 378px;
$we-ico-3-image: '../images/sprite.png';
$we-ico-3: (252px, 0px, -252px, 0px, 251px, 123px, 503px, 378px, '../images/sprite.png', 'we-ico-3', );
$write-down-leb-name: 'write-down-leb';
$write-down-leb-x: 253px;
$write-down-leb-y: 246px;
$write-down-leb-offset-x: -253px;
$write-down-leb-offset-y: -246px;
$write-down-leb-width: 59px;
$write-down-leb-height: 23px;
$write-down-leb-total-width: 503px;
$write-down-leb-total-height: 378px;
$write-down-leb-image: '../images/sprite.png';
$write-down-leb: (253px, 246px, -253px, -246px, 59px, 23px, 503px, 378px, '../images/sprite.png', 'write-down-leb', );
$spritesheet-width: 503px;
$spritesheet-height: 378px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($akc-leb, $basket-ico-mobile, $basket-ico, $button-up, $buy, $desires, $info-ico-1, $info-ico-2, $info-ico-3, $info-ico-4, $map-russia-ico, $mes, $nav-ico-1, $nav-ico-2, $nav-ico-3, $nav-ico-4, $nav-ico-5, $nav-ico-6, $new-leb, $optic, $pages-ico-1, $pages-ico-2, $ras-leb, $report-ico, $section-ico, $serch-buttom, $settings-ico, $tape-ico, $tiles-ico, $we-ico-1, $we-ico-2, $we-ico-3, $write-down-leb, );
$spritesheet: (503px, 378px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
