/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$akc-leb-name: 'akc-leb';
$akc-leb-x: 450px;
$akc-leb-y: 246px;
$akc-leb-offset-x: -450px;
$akc-leb-offset-y: -246px;
$akc-leb-width: 53px;
$akc-leb-height: 23px;
$akc-leb-total-width: 503px;
$akc-leb-total-height: 411px;
$akc-leb-image: '../images/sprite.png';
$akc-leb: (450px, 246px, -450px, -246px, 53px, 23px, 503px, 411px, '../images/sprite.png', 'akc-leb', );
$basket-ico-mobile-name: 'basket-ico-mobile';
$basket-ico-mobile-x: 213px;
$basket-ico-mobile-y: 246px;
$basket-ico-mobile-offset-x: -213px;
$basket-ico-mobile-offset-y: -246px;
$basket-ico-mobile-width: 43px;
$basket-ico-mobile-height: 42px;
$basket-ico-mobile-total-width: 503px;
$basket-ico-mobile-total-height: 411px;
$basket-ico-mobile-image: '../images/sprite.png';
$basket-ico-mobile: (213px, 246px, -213px, -246px, 43px, 42px, 503px, 411px, '../images/sprite.png', 'basket-ico-mobile', );
$basket-ico-name: 'basket-ico';
$basket-ico-x: 200px;
$basket-ico-y: 316px;
$basket-ico-offset-x: -200px;
$basket-ico-offset-y: -316px;
$basket-ico-width: 28px;
$basket-ico-height: 29px;
$basket-ico-total-width: 503px;
$basket-ico-total-height: 411px;
$basket-ico-image: '../images/sprite.png';
$basket-ico: (200px, 316px, -200px, -316px, 28px, 29px, 503px, 411px, '../images/sprite.png', 'basket-ico', );
$but-icon-select-name: 'but-icon-select';
$but-icon-select-x: 490px;
$but-icon-select-y: 174px;
$but-icon-select-offset-x: -490px;
$but-icon-select-offset-y: -174px;
$but-icon-select-width: 12px;
$but-icon-select-height: 11px;
$but-icon-select-total-width: 503px;
$but-icon-select-total-height: 411px;
$but-icon-select-image: '../images/sprite.png';
$but-icon-select: (490px, 174px, -490px, -174px, 12px, 11px, 503px, 411px, '../images/sprite.png', 'but-icon-select', );
$button-up-name: 'button-up';
$button-up-x: 256px;
$button-up-y: 246px;
$button-up-offset-x: -256px;
$button-up-offset-y: -246px;
$button-up-width: 43px;
$button-up-height: 42px;
$button-up-total-width: 503px;
$button-up-total-height: 411px;
$button-up-image: '../images/sprite.png';
$button-up: (256px, 246px, -256px, -246px, 43px, 42px, 503px, 411px, '../images/sprite.png', 'button-up', );
$buy-name: 'buy';
$buy-x: 228px;
$buy-y: 316px;
$buy-offset-x: -228px;
$buy-offset-y: -316px;
$buy-width: 26px;
$buy-height: 27px;
$buy-total-width: 503px;
$buy-total-height: 411px;
$buy-image: '../images/sprite.png';
$buy: (228px, 316px, -228px, -316px, 26px, 27px, 503px, 411px, '../images/sprite.png', 'buy', );
$clok-castom-name: 'clok-castom';
$clok-castom-x: 435px;
$clok-castom-y: 316px;
$clok-castom-offset-x: -435px;
$clok-castom-offset-y: -316px;
$clok-castom-width: 16px;
$clok-castom-height: 15px;
$clok-castom-total-width: 503px;
$clok-castom-total-height: 411px;
$clok-castom-image: '../images/sprite.png';
$clok-castom: (435px, 316px, -435px, -316px, 16px, 15px, 503px, 411px, '../images/sprite.png', 'clok-castom', );
$desires-name: 'desires';
$desires-x: 460px;
$desires-y: 221px;
$desires-offset-x: -460px;
$desires-offset-y: -221px;
$desires-width: 20px;
$desires-height: 22px;
$desires-total-width: 503px;
$desires-total-height: 411px;
$desires-image: '../images/sprite.png';
$desires: (460px, 221px, -460px, -221px, 20px, 22px, 503px, 411px, '../images/sprite.png', 'desires', );
$fb-dark-name: 'fb-dark';
$fb-dark-x: 159px;
$fb-dark-y: 378px;
$fb-dark-offset-x: -159px;
$fb-dark-offset-y: -378px;
$fb-dark-width: 31px;
$fb-dark-height: 31px;
$fb-dark-total-width: 503px;
$fb-dark-total-height: 411px;
$fb-dark-image: '../images/sprite.png';
$fb-dark: (159px, 378px, -159px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'fb-dark', );
$info-ico-1-name: 'info-ico-1';
$info-ico-1-x: 490px;
$info-ico-1-y: 123px;
$info-ico-1-offset-x: -490px;
$info-ico-1-offset-y: -123px;
$info-ico-1-width: 11px;
$info-ico-1-height: 14px;
$info-ico-1-total-width: 503px;
$info-ico-1-total-height: 411px;
$info-ico-1-image: '../images/sprite.png';
$info-ico-1: (490px, 123px, -490px, -123px, 11px, 14px, 503px, 411px, '../images/sprite.png', 'info-ico-1', );
$info-ico-2-name: 'info-ico-2';
$info-ico-2-x: 490px;
$info-ico-2-y: 162px;
$info-ico-2-offset-x: -490px;
$info-ico-2-offset-y: -162px;
$info-ico-2-width: 12px;
$info-ico-2-height: 12px;
$info-ico-2-total-width: 503px;
$info-ico-2-total-height: 411px;
$info-ico-2-image: '../images/sprite.png';
$info-ico-2: (490px, 162px, -490px, -162px, 12px, 12px, 503px, 411px, '../images/sprite.png', 'info-ico-2', );
$info-ico-3-name: 'info-ico-3';
$info-ico-3-x: 466px;
$info-ico-3-y: 316px;
$info-ico-3-offset-x: -466px;
$info-ico-3-offset-y: -316px;
$info-ico-3-width: 15px;
$info-ico-3-height: 13px;
$info-ico-3-total-width: 503px;
$info-ico-3-total-height: 411px;
$info-ico-3-image: '../images/sprite.png';
$info-ico-3: (466px, 316px, -466px, -316px, 15px, 13px, 503px, 411px, '../images/sprite.png', 'info-ico-3', );
$info-ico-4-name: 'info-ico-4';
$info-ico-4-x: 362px;
$info-ico-4-y: 316px;
$info-ico-4-offset-x: -362px;
$info-ico-4-offset-y: -316px;
$info-ico-4-width: 19px;
$info-ico-4-height: 19px;
$info-ico-4-total-width: 503px;
$info-ico-4-total-height: 411px;
$info-ico-4-image: '../images/sprite.png';
$info-ico-4: (362px, 316px, -362px, -316px, 19px, 19px, 503px, 411px, '../images/sprite.png', 'info-ico-4', );
$lighten-fb-name: 'lighten-fb';
$lighten-fb-x: 128px;
$lighten-fb-y: 378px;
$lighten-fb-offset-x: -128px;
$lighten-fb-offset-y: -378px;
$lighten-fb-width: 31px;
$lighten-fb-height: 31px;
$lighten-fb-total-width: 503px;
$lighten-fb-total-height: 411px;
$lighten-fb-image: '../images/sprite.png';
$lighten-fb: (128px, 378px, -128px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'lighten-fb', );
$lighten-mail-name: 'lighten-mail';
$lighten-mail-x: 97px;
$lighten-mail-y: 378px;
$lighten-mail-offset-x: -97px;
$lighten-mail-offset-y: -378px;
$lighten-mail-width: 31px;
$lighten-mail-height: 31px;
$lighten-mail-total-width: 503px;
$lighten-mail-total-height: 411px;
$lighten-mail-image: '../images/sprite.png';
$lighten-mail: (97px, 378px, -97px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'lighten-mail', );
$lighten-ok-name: 'lighten-ok';
$lighten-ok-x: 66px;
$lighten-ok-y: 378px;
$lighten-ok-offset-x: -66px;
$lighten-ok-offset-y: -378px;
$lighten-ok-width: 31px;
$lighten-ok-height: 31px;
$lighten-ok-total-width: 503px;
$lighten-ok-total-height: 411px;
$lighten-ok-image: '../images/sprite.png';
$lighten-ok: (66px, 378px, -66px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'lighten-ok', );
$lighten-tw-name: 'lighten-tw';
$lighten-tw-x: 283px;
$lighten-tw-y: 378px;
$lighten-tw-offset-x: -283px;
$lighten-tw-offset-y: -378px;
$lighten-tw-width: 31px;
$lighten-tw-height: 31px;
$lighten-tw-total-width: 503px;
$lighten-tw-total-height: 411px;
$lighten-tw-image: '../images/sprite.png';
$lighten-tw: (283px, 378px, -283px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'lighten-tw', );
$lighten-vc-name: 'lighten-vc';
$lighten-vc-x: 252px;
$lighten-vc-y: 378px;
$lighten-vc-offset-x: -252px;
$lighten-vc-offset-y: -378px;
$lighten-vc-width: 31px;
$lighten-vc-height: 31px;
$lighten-vc-total-width: 503px;
$lighten-vc-total-height: 411px;
$lighten-vc-image: '../images/sprite.png';
$lighten-vc: (252px, 378px, -252px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'lighten-vc', );
$mail-dark-name: 'mail-dark';
$mail-dark-x: 190px;
$mail-dark-y: 378px;
$mail-dark-offset-x: -190px;
$mail-dark-offset-y: -378px;
$mail-dark-width: 31px;
$mail-dark-height: 31px;
$mail-dark-total-width: 503px;
$mail-dark-total-height: 411px;
$mail-dark-image: '../images/sprite.png';
$mail-dark: (190px, 378px, -190px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'mail-dark', );
$map-russia-ico-name: 'map-russia-ico';
$map-russia-ico-x: 0px;
$map-russia-ico-y: 246px;
$map-russia-ico-offset-x: 0px;
$map-russia-ico-offset-y: -246px;
$map-russia-ico-width: 80px;
$map-russia-ico-height: 70px;
$map-russia-ico-total-width: 503px;
$map-russia-ico-total-height: 411px;
$map-russia-ico-image: '../images/sprite.png';
$map-russia-ico: (0px, 246px, 0px, -246px, 80px, 70px, 503px, 411px, '../images/sprite.png', 'map-russia-ico', );
$mes-name: 'mes';
$mes-x: 480px;
$mes-y: 221px;
$mes-offset-x: -480px;
$mes-offset-y: -221px;
$mes-width: 23px;
$mes-height: 18px;
$mes-total-width: 503px;
$mes-total-height: 411px;
$mes-image: '../images/sprite.png';
$mes: (480px, 221px, -480px, -221px, 23px, 18px, 503px, 411px, '../images/sprite.png', 'mes', );
$nav-ico-1-name: 'nav-ico-1';
$nav-ico-1-x: 80px;
$nav-ico-1-y: 246px;
$nav-ico-1-offset-x: -80px;
$nav-ico-1-offset-y: -246px;
$nav-ico-1-width: 79px;
$nav-ico-1-height: 55px;
$nav-ico-1-total-width: 503px;
$nav-ico-1-total-height: 411px;
$nav-ico-1-image: '../images/sprite.png';
$nav-ico-1: (80px, 246px, -80px, -246px, 79px, 55px, 503px, 411px, '../images/sprite.png', 'nav-ico-1', );
$nav-ico-2-name: 'nav-ico-2';
$nav-ico-2-x: 0px;
$nav-ico-2-y: 316px;
$nav-ico-2-offset-x: 0px;
$nav-ico-2-offset-y: -316px;
$nav-ico-2-width: 65px;
$nav-ico-2-height: 62px;
$nav-ico-2-total-width: 503px;
$nav-ico-2-total-height: 411px;
$nav-ico-2-image: '../images/sprite.png';
$nav-ico-2: (0px, 316px, 0px, -316px, 65px, 62px, 503px, 411px, '../images/sprite.png', 'nav-ico-2', );
$nav-ico-3-name: 'nav-ico-3';
$nav-ico-3-x: 383px;
$nav-ico-3-y: 123px;
$nav-ico-3-offset-x: -383px;
$nav-ico-3-offset-y: -123px;
$nav-ico-3-width: 107px;
$nav-ico-3-height: 62px;
$nav-ico-3-total-width: 503px;
$nav-ico-3-total-height: 411px;
$nav-ico-3-image: '../images/sprite.png';
$nav-ico-3: (383px, 123px, -383px, -123px, 107px, 62px, 503px, 411px, '../images/sprite.png', 'nav-ico-3', );
$nav-ico-4-name: 'nav-ico-4';
$nav-ico-4-x: 65px;
$nav-ico-4-y: 316px;
$nav-ico-4-offset-x: -65px;
$nav-ico-4-offset-y: -316px;
$nav-ico-4-width: 61px;
$nav-ico-4-height: 58px;
$nav-ico-4-total-width: 503px;
$nav-ico-4-total-height: 411px;
$nav-ico-4-image: '../images/sprite.png';
$nav-ico-4: (65px, 316px, -65px, -316px, 61px, 58px, 503px, 411px, '../images/sprite.png', 'nav-ico-4', );
$nav-ico-5-name: 'nav-ico-5';
$nav-ico-5-x: 159px;
$nav-ico-5-y: 246px;
$nav-ico-5-offset-x: -159px;
$nav-ico-5-offset-y: -246px;
$nav-ico-5-width: 54px;
$nav-ico-5-height: 47px;
$nav-ico-5-total-width: 503px;
$nav-ico-5-total-height: 411px;
$nav-ico-5-image: '../images/sprite.png';
$nav-ico-5: (159px, 246px, -159px, -246px, 54px, 47px, 503px, 411px, '../images/sprite.png', 'nav-ico-5', );
$nav-ico-6-name: 'nav-ico-6';
$nav-ico-6-x: 252px;
$nav-ico-6-y: 123px;
$nav-ico-6-offset-x: -252px;
$nav-ico-6-offset-y: -123px;
$nav-ico-6-width: 131px;
$nav-ico-6-height: 73px;
$nav-ico-6-total-width: 503px;
$nav-ico-6-total-height: 411px;
$nav-ico-6-image: '../images/sprite.png';
$nav-ico-6: (252px, 123px, -252px, -123px, 131px, 73px, 503px, 411px, '../images/sprite.png', 'nav-ico-6', );
$new-leb-name: 'new-leb';
$new-leb-x: 403px;
$new-leb-y: 196px;
$new-leb-offset-x: -403px;
$new-leb-offset-y: -196px;
$new-leb-width: 68px;
$new-leb-height: 23px;
$new-leb-total-width: 503px;
$new-leb-total-height: 411px;
$new-leb-image: '../images/sprite.png';
$new-leb: (403px, 196px, -403px, -196px, 68px, 23px, 503px, 411px, '../images/sprite.png', 'new-leb', );
$off-big-name: 'off-big';
$off-big-x: 343px;
$off-big-y: 316px;
$off-big-offset-x: -343px;
$off-big-offset-y: -316px;
$off-big-width: 19px;
$off-big-height: 20px;
$off-big-total-width: 503px;
$off-big-total-height: 411px;
$off-big-image: '../images/sprite.png';
$off-big: (343px, 316px, -343px, -316px, 19px, 20px, 503px, 411px, '../images/sprite.png', 'off-big', );
$off-mini-name: 'off-mini';
$off-mini-x: 451px;
$off-mini-y: 316px;
$off-mini-offset-x: -451px;
$off-mini-offset-y: -316px;
$off-mini-width: 15px;
$off-mini-height: 14px;
$off-mini-total-width: 503px;
$off-mini-total-height: 411px;
$off-mini-image: '../images/sprite.png';
$off-mini: (451px, 316px, -451px, -316px, 15px, 14px, 503px, 411px, '../images/sprite.png', 'off-mini', );
$ok-dark-name: 'ok-dark';
$ok-dark-x: 221px;
$ok-dark-y: 378px;
$ok-dark-offset-x: -221px;
$ok-dark-offset-y: -378px;
$ok-dark-width: 31px;
$ok-dark-height: 31px;
$ok-dark-total-width: 503px;
$ok-dark-total-height: 411px;
$ok-dark-image: '../images/sprite.png';
$ok-dark: (221px, 378px, -221px, -378px, 31px, 31px, 503px, 411px, '../images/sprite.png', 'ok-dark', );
$on-big-name: 'on-big';
$on-big-x: 490px;
$on-big-y: 137px;
$on-big-offset-x: -490px;
$on-big-offset-y: -137px;
$on-big-width: 6px;
$on-big-height: 25px;
$on-big-total-width: 503px;
$on-big-total-height: 411px;
$on-big-image: '../images/sprite.png';
$on-big: (490px, 137px, -490px, -137px, 6px, 25px, 503px, 411px, '../images/sprite.png', 'on-big', );
$on-mini-name: 'on-mini';
$on-mini-x: 496px;
$on-mini-y: 137px;
$on-mini-offset-x: -496px;
$on-mini-offset-y: -137px;
$on-mini-width: 3px;
$on-mini-height: 12px;
$on-mini-total-width: 503px;
$on-mini-total-height: 411px;
$on-mini-image: '../images/sprite.png';
$on-mini: (496px, 137px, -496px, -137px, 3px, 12px, 503px, 411px, '../images/sprite.png', 'on-mini', );
$optic-name: 'optic';
$optic-x: 80px;
$optic-y: 301px;
$optic-offset-x: -80px;
$optic-offset-y: -301px;
$optic-width: 31px;
$optic-height: 12px;
$optic-total-width: 503px;
$optic-total-height: 411px;
$optic-image: '../images/sprite.png';
$optic: (80px, 301px, -80px, -301px, 31px, 12px, 503px, 411px, '../images/sprite.png', 'optic', );
$pages-ico-1-name: 'pages-ico-1';
$pages-ico-1-x: 418px;
$pages-ico-1-y: 316px;
$pages-ico-1-offset-x: -418px;
$pages-ico-1-offset-y: -316px;
$pages-ico-1-width: 17px;
$pages-ico-1-height: 18px;
$pages-ico-1-total-width: 503px;
$pages-ico-1-total-height: 411px;
$pages-ico-1-image: '../images/sprite.png';
$pages-ico-1: (418px, 316px, -418px, -316px, 17px, 18px, 503px, 411px, '../images/sprite.png', 'pages-ico-1', );
$pages-ico-2-name: 'pages-ico-2';
$pages-ico-2-x: 399px;
$pages-ico-2-y: 316px;
$pages-ico-2-offset-x: -399px;
$pages-ico-2-offset-y: -316px;
$pages-ico-2-width: 19px;
$pages-ico-2-height: 18px;
$pages-ico-2-total-width: 503px;
$pages-ico-2-total-height: 411px;
$pages-ico-2-image: '../images/sprite.png';
$pages-ico-2: (399px, 316px, -399px, -316px, 19px, 18px, 503px, 411px, '../images/sprite.png', 'pages-ico-2', );
$pages-nexts-name: 'pages-nexts';
$pages-nexts-x: 252px;
$pages-nexts-y: 196px;
$pages-nexts-offset-x: -252px;
$pages-nexts-offset-y: -196px;
$pages-nexts-width: 151px;
$pages-nexts-height: 25px;
$pages-nexts-total-width: 503px;
$pages-nexts-total-height: 411px;
$pages-nexts-image: '../images/sprite.png';
$pages-nexts: (252px, 196px, -252px, -196px, 151px, 25px, 503px, 411px, '../images/sprite.png', 'pages-nexts', );
$pages-prevs-name: 'pages-prevs';
$pages-prevs-x: 252px;
$pages-prevs-y: 221px;
$pages-prevs-offset-x: -252px;
$pages-prevs-offset-y: -221px;
$pages-prevs-width: 149px;
$pages-prevs-height: 25px;
$pages-prevs-total-width: 503px;
$pages-prevs-total-height: 411px;
$pages-prevs-image: '../images/sprite.png';
$pages-prevs: (252px, 221px, -252px, -221px, 149px, 25px, 503px, 411px, '../images/sprite.png', 'pages-prevs', );
$ras-leb-name: 'ras-leb';
$ras-leb-x: 393px;
$ras-leb-y: 246px;
$ras-leb-offset-x: -393px;
$ras-leb-offset-y: -246px;
$ras-leb-width: 57px;
$ras-leb-height: 23px;
$ras-leb-total-width: 503px;
$ras-leb-total-height: 411px;
$ras-leb-image: '../images/sprite.png';
$ras-leb: (393px, 246px, -393px, -246px, 57px, 23px, 503px, 411px, '../images/sprite.png', 'ras-leb', );
$report-ico-name: 'report-ico';
$report-ico-x: 254px;
$report-ico-y: 316px;
$report-ico-offset-x: -254px;
$report-ico-offset-y: -316px;
$report-ico-width: 26px;
$report-ico-height: 26px;
$report-ico-total-width: 503px;
$report-ico-total-height: 411px;
$report-ico-image: '../images/sprite.png';
$report-ico: (254px, 316px, -254px, -316px, 26px, 26px, 503px, 411px, '../images/sprite.png', 'report-ico', );
$section-ico-name: 'section-ico';
$section-ico-x: 381px;
$section-ico-y: 316px;
$section-ico-offset-x: -381px;
$section-ico-offset-y: -316px;
$section-ico-width: 18px;
$section-ico-height: 19px;
$section-ico-total-width: 503px;
$section-ico-total-height: 411px;
$section-ico-image: '../images/sprite.png';
$section-ico: (381px, 316px, -381px, -316px, 18px, 19px, 503px, 411px, '../images/sprite.png', 'section-ico', );
$serch-buttom-name: 'serch-buttom';
$serch-buttom-x: 299px;
$serch-buttom-y: 246px;
$serch-buttom-offset-x: -299px;
$serch-buttom-offset-y: -246px;
$serch-buttom-width: 44px;
$serch-buttom-height: 33px;
$serch-buttom-total-width: 503px;
$serch-buttom-total-height: 411px;
$serch-buttom-image: '../images/sprite.png';
$serch-buttom: (299px, 246px, -299px, -246px, 44px, 33px, 503px, 411px, '../images/sprite.png', 'serch-buttom', );
$settings-ico-name: 'settings-ico';
$settings-ico-x: 471px;
$settings-ico-y: 196px;
$settings-ico-offset-x: -471px;
$settings-ico-offset-y: -196px;
$settings-ico-width: 23px;
$settings-ico-height: 23px;
$settings-ico-total-width: 503px;
$settings-ico-total-height: 411px;
$settings-ico-image: '../images/sprite.png';
$settings-ico: (471px, 196px, -471px, -196px, 23px, 23px, 503px, 411px, '../images/sprite.png', 'settings-ico', );
$table-ico-1-name: 'table-ico-1';
$table-ico-1-x: 302px;
$table-ico-1-y: 316px;
$table-ico-1-offset-x: -302px;
$table-ico-1-offset-y: -316px;
$table-ico-1-width: 22px;
$table-ico-1-height: 24px;
$table-ico-1-total-width: 503px;
$table-ico-1-total-height: 411px;
$table-ico-1-image: '../images/sprite.png';
$table-ico-1: (302px, 316px, -302px, -316px, 22px, 24px, 503px, 411px, '../images/sprite.png', 'table-ico-1', );
$table-ico-2-name: 'table-ico-2';
$table-ico-2-x: 280px;
$table-ico-2-y: 316px;
$table-ico-2-offset-x: -280px;
$table-ico-2-offset-y: -316px;
$table-ico-2-width: 22px;
$table-ico-2-height: 24px;
$table-ico-2-total-width: 503px;
$table-ico-2-total-height: 411px;
$table-ico-2-image: '../images/sprite.png';
$table-ico-2: (280px, 316px, -280px, -316px, 22px, 24px, 503px, 411px, '../images/sprite.png', 'table-ico-2', );
$table-ico-3-name: 'table-ico-3';
$table-ico-3-x: 0px;
$table-ico-3-y: 378px;
$table-ico-3-offset-x: 0px;
$table-ico-3-offset-y: -378px;
$table-ico-3-width: 35px;
$table-ico-3-height: 33px;
$table-ico-3-total-width: 503px;
$table-ico-3-total-height: 411px;
$table-ico-3-image: '../images/sprite.png';
$table-ico-3: (0px, 378px, 0px, -378px, 35px, 33px, 503px, 411px, '../images/sprite.png', 'table-ico-3', );
$tape-ico-name: 'tape-ico';
$tape-ico-x: 343px;
$tape-ico-y: 246px;
$tape-ico-offset-x: -343px;
$tape-ico-offset-y: -246px;
$tape-ico-width: 50px;
$tape-ico-height: 28px;
$tape-ico-total-width: 503px;
$tape-ico-total-height: 411px;
$tape-ico-image: '../images/sprite.png';
$tape-ico: (343px, 246px, -343px, -246px, 50px, 28px, 503px, 411px, '../images/sprite.png', 'tape-ico', );
$tiles-ico-name: 'tiles-ico';
$tiles-ico-x: 324px;
$tiles-ico-y: 316px;
$tiles-ico-offset-x: -324px;
$tiles-ico-offset-y: -316px;
$tiles-ico-width: 19px;
$tiles-ico-height: 20px;
$tiles-ico-total-width: 503px;
$tiles-ico-total-height: 411px;
$tiles-ico-image: '../images/sprite.png';
$tiles-ico: (324px, 316px, -324px, -316px, 19px, 20px, 503px, 411px, '../images/sprite.png', 'tiles-ico', );
$tw-dark-name: 'tw-dark';
$tw-dark-x: 169px;
$tw-dark-y: 316px;
$tw-dark-offset-x: -169px;
$tw-dark-offset-y: -316px;
$tw-dark-width: 31px;
$tw-dark-height: 30px;
$tw-dark-total-width: 503px;
$tw-dark-total-height: 411px;
$tw-dark-image: '../images/sprite.png';
$tw-dark: (169px, 316px, -169px, -316px, 31px, 30px, 503px, 411px, '../images/sprite.png', 'tw-dark', );
$vc-dark-name: 'vc-dark';
$vc-dark-x: 35px;
$vc-dark-y: 378px;
$vc-dark-offset-x: -35px;
$vc-dark-offset-y: -378px;
$vc-dark-width: 31px;
$vc-dark-height: 32px;
$vc-dark-total-width: 503px;
$vc-dark-total-height: 411px;
$vc-dark-image: '../images/sprite.png';
$vc-dark: (35px, 378px, -35px, -378px, 31px, 32px, 503px, 411px, '../images/sprite.png', 'vc-dark', );
$we-ico-1-name: 'we-ico-1';
$we-ico-1-x: 0px;
$we-ico-1-y: 0px;
$we-ico-1-offset-x: 0px;
$we-ico-1-offset-y: 0px;
$we-ico-1-width: 252px;
$we-ico-1-height: 123px;
$we-ico-1-total-width: 503px;
$we-ico-1-total-height: 411px;
$we-ico-1-image: '../images/sprite.png';
$we-ico-1: (0px, 0px, 0px, 0px, 252px, 123px, 503px, 411px, '../images/sprite.png', 'we-ico-1', );
$we-ico-2-name: 'we-ico-2';
$we-ico-2-x: 252px;
$we-ico-2-y: 0px;
$we-ico-2-offset-x: -252px;
$we-ico-2-offset-y: 0px;
$we-ico-2-width: 251px;
$we-ico-2-height: 123px;
$we-ico-2-total-width: 503px;
$we-ico-2-total-height: 411px;
$we-ico-2-image: '../images/sprite.png';
$we-ico-2: (252px, 0px, -252px, 0px, 251px, 123px, 503px, 411px, '../images/sprite.png', 'we-ico-2', );
$we-ico-3-name: 'we-ico-3';
$we-ico-3-x: 0px;
$we-ico-3-y: 123px;
$we-ico-3-offset-x: 0px;
$we-ico-3-offset-y: -123px;
$we-ico-3-width: 251px;
$we-ico-3-height: 123px;
$we-ico-3-total-width: 503px;
$we-ico-3-total-height: 411px;
$we-ico-3-image: '../images/sprite.png';
$we-ico-3: (0px, 123px, 0px, -123px, 251px, 123px, 503px, 411px, '../images/sprite.png', 'we-ico-3', );
$write-down-leb-name: 'write-down-leb';
$write-down-leb-x: 401px;
$write-down-leb-y: 221px;
$write-down-leb-offset-x: -401px;
$write-down-leb-offset-y: -221px;
$write-down-leb-width: 59px;
$write-down-leb-height: 23px;
$write-down-leb-total-width: 503px;
$write-down-leb-total-height: 411px;
$write-down-leb-image: '../images/sprite.png';
$write-down-leb: (401px, 221px, -401px, -221px, 59px, 23px, 503px, 411px, '../images/sprite.png', 'write-down-leb', );
$you-dark-name: 'you-dark';
$you-dark-x: 126px;
$you-dark-y: 316px;
$you-dark-offset-x: -126px;
$you-dark-offset-y: -316px;
$you-dark-width: 43px;
$you-dark-height: 30px;
$you-dark-total-width: 503px;
$you-dark-total-height: 411px;
$you-dark-image: '../images/sprite.png';
$you-dark: (126px, 316px, -126px, -316px, 43px, 30px, 503px, 411px, '../images/sprite.png', 'you-dark', );
$spritesheet-width: 503px;
$spritesheet-height: 411px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($akc-leb, $basket-ico-mobile, $basket-ico, $but-icon-select, $button-up, $buy, $clok-castom, $desires, $fb-dark, $info-ico-1, $info-ico-2, $info-ico-3, $info-ico-4, $lighten-fb, $lighten-mail, $lighten-ok, $lighten-tw, $lighten-vc, $mail-dark, $map-russia-ico, $mes, $nav-ico-1, $nav-ico-2, $nav-ico-3, $nav-ico-4, $nav-ico-5, $nav-ico-6, $new-leb, $off-big, $off-mini, $ok-dark, $on-big, $on-mini, $optic, $pages-ico-1, $pages-ico-2, $pages-nexts, $pages-prevs, $ras-leb, $report-ico, $section-ico, $serch-buttom, $settings-ico, $table-ico-1, $table-ico-2, $table-ico-3, $tape-ico, $tiles-ico, $tw-dark, $vc-dark, $we-ico-1, $we-ico-2, $we-ico-3, $write-down-leb, $you-dark, );
$spritesheet: (503px, 411px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
