/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$basket-ico-mobile-name: 'basket-ico-mobile';
$basket-ico-mobile-x: 332px;
$basket-ico-mobile-y: 123px;
$basket-ico-mobile-offset-x: -332px;
$basket-ico-mobile-offset-y: -123px;
$basket-ico-mobile-width: 43px;
$basket-ico-mobile-height: 42px;
$basket-ico-mobile-total-width: 503px;
$basket-ico-mobile-total-height: 246px;
$basket-ico-mobile-image: '../images/sprite.png';
$basket-ico-mobile: (332px, 123px, -332px, -123px, 43px, 42px, 503px, 246px, '../images/sprite.png', 'basket-ico-mobile', );
$basket-ico-name: 'basket-ico';
$basket-ico-x: 462px;
$basket-ico-y: 123px;
$basket-ico-offset-x: -462px;
$basket-ico-offset-y: -123px;
$basket-ico-width: 28px;
$basket-ico-height: 29px;
$basket-ico-total-width: 503px;
$basket-ico-total-height: 246px;
$basket-ico-image: '../images/sprite.png';
$basket-ico: (462px, 123px, -462px, -123px, 28px, 29px, 503px, 246px, '../images/sprite.png', 'basket-ico', );
$button-up-name: 'button-up';
$button-up-x: 375px;
$button-up-y: 123px;
$button-up-offset-x: -375px;
$button-up-offset-y: -123px;
$button-up-width: 43px;
$button-up-height: 42px;
$button-up-total-width: 503px;
$button-up-total-height: 246px;
$button-up-image: '../images/sprite.png';
$button-up: (375px, 123px, -375px, -123px, 43px, 42px, 503px, 246px, '../images/sprite.png', 'button-up', );
$map-russia-ico-name: 'map-russia-ico';
$map-russia-ico-x: 252px;
$map-russia-ico-y: 123px;
$map-russia-ico-offset-x: -252px;
$map-russia-ico-offset-y: -123px;
$map-russia-ico-width: 80px;
$map-russia-ico-height: 70px;
$map-russia-ico-total-width: 503px;
$map-russia-ico-total-height: 246px;
$map-russia-ico-image: '../images/sprite.png';
$map-russia-ico: (252px, 123px, -252px, -123px, 80px, 70px, 503px, 246px, '../images/sprite.png', 'map-russia-ico', );
$serch-buttom-name: 'serch-buttom';
$serch-buttom-x: 418px;
$serch-buttom-y: 123px;
$serch-buttom-offset-x: -418px;
$serch-buttom-offset-y: -123px;
$serch-buttom-width: 44px;
$serch-buttom-height: 33px;
$serch-buttom-total-width: 503px;
$serch-buttom-total-height: 246px;
$serch-buttom-image: '../images/sprite.png';
$serch-buttom: (418px, 123px, -418px, -123px, 44px, 33px, 503px, 246px, '../images/sprite.png', 'serch-buttom', );
$we-ico-1-name: 'we-ico-1';
$we-ico-1-x: 0px;
$we-ico-1-y: 0px;
$we-ico-1-offset-x: 0px;
$we-ico-1-offset-y: 0px;
$we-ico-1-width: 252px;
$we-ico-1-height: 123px;
$we-ico-1-total-width: 503px;
$we-ico-1-total-height: 246px;
$we-ico-1-image: '../images/sprite.png';
$we-ico-1: (0px, 0px, 0px, 0px, 252px, 123px, 503px, 246px, '../images/sprite.png', 'we-ico-1', );
$we-ico-2-name: 'we-ico-2';
$we-ico-2-x: 0px;
$we-ico-2-y: 123px;
$we-ico-2-offset-x: 0px;
$we-ico-2-offset-y: -123px;
$we-ico-2-width: 251px;
$we-ico-2-height: 123px;
$we-ico-2-total-width: 503px;
$we-ico-2-total-height: 246px;
$we-ico-2-image: '../images/sprite.png';
$we-ico-2: (0px, 123px, 0px, -123px, 251px, 123px, 503px, 246px, '../images/sprite.png', 'we-ico-2', );
$we-ico-3-name: 'we-ico-3';
$we-ico-3-x: 252px;
$we-ico-3-y: 0px;
$we-ico-3-offset-x: -252px;
$we-ico-3-offset-y: 0px;
$we-ico-3-width: 251px;
$we-ico-3-height: 123px;
$we-ico-3-total-width: 503px;
$we-ico-3-total-height: 246px;
$we-ico-3-image: '../images/sprite.png';
$we-ico-3: (252px, 0px, -252px, 0px, 251px, 123px, 503px, 246px, '../images/sprite.png', 'we-ico-3', );
$spritesheet-width: 503px;
$spritesheet-height: 246px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($basket-ico-mobile, $basket-ico, $button-up, $map-russia-ico, $serch-buttom, $we-ico-1, $we-ico-2, $we-ico-3, );
$spritesheet: (503px, 246px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
